<h1>boiler.place</h1>

<section>
  <p>boiler.place is a starter project for making your own placeholder image service.</p>
</section>

<section>
  <h2>Example</h2>
  <code><pre>GET <%= "http://#{settings.hostname}/640/480" %></pre></code>

  <figure>
    <img src=<%= "http://#{settings.hostname}/640/480" %> />
  </figure>
</section>

<section>
  View the source <a href="https://github.com/seanahern/boiler.place">on Github</a>.
</section>

<section>
  <small>Created by <a href="https://twitter.com/seanahern">Sean Ahern</small>
</section>
