<h1>Boilerplace</h1>

<section>
  <p>Boilerplace is a starter project for making your own placeholder image service. View the source <a href="https://github.com/seanahern/boiler.place">on Github</a>.</p>
</section>

<section>
  <h2>Example</h2>
  <p>This site runs on the source so you can request an image with a URL of /:width/:height for the image.</p>
  <code><pre>GET <%= "http://#{settings.hostname}/640/480" %></pre></code>

  <figure>
    <img src=<%= "http://#{settings.hostname}/640/480" %> />
  </figure>
</section>

<section>
  <small>Created by <a href="https://twitter.com/seanahern">Sean Ahern</small>
</section>
